* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Baloo Chettan 2";
  height: 100%;
  margin: 0;
  background: #ffffff;
}

.container {
  width: calc(100% - 342px);
  margin: auto;
}

.wrapper {
  min-height: calc(100vh - 258px);
  background: #f7f9fd;
  padding-bottom: 111px;
}

/* Modal start */
.main-modal {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  background: #ffffff;
  border: 1px solid #f2eeee;
  -webkit-box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  border-radius: 20px;
  position: relative;
  margin: 20px auto;
  z-index: 50;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.5;
}
.modal-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 12px;
}
.modal-cross-icon {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}

/* Modal end */

/* Header start */
.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 20px 0px rgb(28 31 46 / 10%);
  box-shadow: 0px 5px 20px 0px rgb(28 31 46 / 10%);
  position: relative;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-bar-icon {
  display: none !important;
  font-size: 24px;
  width: 25px;
  height: 25px;
  background: rgba(54, 41, 183, 0.09);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.header-logo {
  padding: 51px 0 51px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header-logo-image {
  cursor: pointer;
}

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

.nav-mobile {
  display: none;
}

.nav-desktop-item {
  cursor: pointer;
}

/* Header end */

/* Filter start */
.filter-title {
  margin: 89px 0 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #07143b;
}

.filter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32.06px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter-items {
  width: 109.2px;
  height: 113px;
  border-radius: 15px;
  position: relative;
  padding-top: 1px;
}

.filter-items__normal {
  background: rgba(54, 41, 183, 0.09);
  color: #07143b;
  cursor: pointer;
}

.filter-items__1st-grade {
  background: #3629b7;
  color: #07143b;
  cursor: pointer;
}

.filter-items__disable {
  background: rgba(212, 212, 212, 0.2);
  color: #d5d5d5;
}

.filter-year-counter {
  width: 63.11px;
  height: 63px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  margin: 12px 23.04px 0px 23.04px;
}

.filter-year-counter__disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.filter-year-number {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  height: 25px;
  padding-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter-year-text {
  font-weight: 600;
  font-size: 10px;
  width: 25.05px;
  height: 15px;
  padding: 0px 18.03px 13px 20.04px;
}

.filter-year-grade {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  text-align: center;
  margin-top: 5.05px;
}

.filter-year-grade__1st {
  color: #ffffff;
}

.filter-year-grade-icon {
  position: absolute;
  width: 73.13px;
  height: 42px;
  left: 36.07px;
  top: 71px;
  color: #f3d5c8;
}

.filter-year-grade-icon-2 {
  position: absolute;
  width: 67.12px;
  height: 36px;
  left: 42.07px;
  top: 77px;
  color: #f3d5c8;
}
/* Filter end */

/* Math start */
.math {
  background: #ffffff;
  border: 1px solid #f2eeee;
  -webkit-box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  margin-top: 36px;
  border-radius: 20px;
}

.math-content {
  margin: 19px 38.57px 18px 33.06px;
}

.math-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.math-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  color: #494949;
}

.math-description {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #8e8f8f;
  margin-top: 5px;
}

.math-content-expend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

.math-content-expend-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #7b81a6;
}

.math-main-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 25px;
}

.math-option {
  border: 1px solid #f2eeee;
  -webkit-box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  border-radius: 15px;
  padding: 10px 0px 10px 20px;
  margin-top: 15px;
  width: 215px;
  cursor: pointer;
}

.math-option-number {
  width: 33.63px;
  height: 33px;
  background: #f5f4fb;
  border-radius: 50%;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3629b7;
}

.math-option-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  margin-top: 4px;
}

.math-option-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #7b81a6;
  margin-top: 4px;
}

/* Math Intro start */
.math-intro {
  padding: 66px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.math-intro-left {
  width: 60%;
}
.math-intro-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  color: #494949;
}
.math-intro-des {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #8e8f8f;
}
.intro-flex-human {
  margin-top: 36px;
}
.math-intro-example {
  margin-top: 36px;
}
.math-intro-example-titile {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #494949;
  margin-bottom: 8px;
}
.math-intro-example-number {
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  color: #8e8f8f;
  width: 85px;
}
.math-intro-example-number-wrong {
  color: #ff3636;
}
.math-intro-example-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.math-intro-example-input {
  border: 1px solid #f7f9fd;
  width: 42px;
  height: 30px;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.intro-right {
  width: 40%;
}
.intro-flex-human-right {
  display: none;
}
.math-intro-btn {
  width: 336px;
  margin: auto;
  cursor: pointer;
  background: #3629b7;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  padding: 13px 55px;
  margin-top: 110px;
}
/* Math Intro end */

/* Countdown start */
.math-intro-title__center {
  text-align: center;
}
.count {
  padding: 50px;
}
.count-bg {
  background-position: center;
  background-repeat: no-repeat;
  padding: 116px 200px 116px 200px;
}
.count-start {
  font-weight: 900;
  font-size: 250px;
  line-height: 360px;
  color: #3629b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* Countdown end */

/* Math end */

/* Actual Math start*/
.progress-bar {
  border: 2px solid #000;
  border-radius: 2px;
  width: 381px;
  height: 46px;
  background: #ffffff;
  margin: 27px auto;
  position: relative;
}
.progress-bar-percent {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  z-index: 10;
}
.progress-bar-percent-bg {
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#efefef),
    to(#1b26bb)
  );
  background: -o-linear-gradient(left, #efefef, #1b26bb);
  background: linear-gradient(to right, #efefef, #1b26bb);
  top: 0;
  left: 0;
  height: 46px;
}
.math-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 10vw;
  min-height: calc(100vh - 400px);
}
.math-vertical {
  /* font-size: 100px; */
  min-height: calc(100vh - 400px);
  font-size: 6vw;
}
.actual-math {
  font-weight: 700;
  text-align: center;
  color: #494949;
}
.actual-math-border {
  border: 5px solid #000000;
  width: 280px;
  margin: 10px auto;
}
.actual-math-number-end {
  padding-right: 55px;
}
.actual-math-answare {
  background: #f7f9fd;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 279.85px;
  height: 116px;
  border: 2px solid #efefef;
  color: #3629b7;
  font-weight: 700;
  /* font-size: 100px; */
  font-size: 6vw;
  text-align: center;
}
.actual-math-answare__horizontal {
  font-size: 8vw;
}
.actual-math-answare__desktop {
  display: block;
  margin: 20px auto;
}
.actual-math-answare__mobile {
  display: none;
}
.actual-math-answare-hori-desktop {
  display: block;
}
.actual-math-answare-hori-mobile {
  display: none;
}
.actual-math-answare:focus {
  outline: 0;
}
.actual-math-next-btn {
  width: 446px;
  padding: 13px 0;
  background: #3629b7;
  border-radius: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin: 50px auto 66px auto;
  cursor: pointer;
}
/* Actual Math end*/

/* Score start */
.overview {
  width: calc(100% - 400px);
  margin: auto;
  position: relative;
}
.score-score {
  color: #ffffff;
  background-repeat: no-repeat;
  margin: auto;
  width: 181px;
  height: 181px;
  text-align: center;
}
.score-score-number {
  font-weight: 700;
  font-size: 50px;
  padding-top: 50px;
}
.score-score-text {
  font-weight: 600;
  font-size: 18px;
}
.score-score-msg {
  text-align: center;
  margin-top: 20px;
}
.score-score-gb {
  font-weight: 900;
  font-size: 30px;
  color: #494949;
}
.score-score-des {
  font-weight: 700;
  font-size: 18px;
  color: #8e8f8f;
  margin-top: 10px;
}
.overview-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-top: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.overview-card {
  border: 1px solid #f2eeee;
  -webkit-box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  border-radius: 15px;
  padding: 30px 10px;
  margin-top: 15px;
  width: 150px;
  text-align: center;
}
.score-completion-number {
  font-weight: 800;
  font-size: 20px;
  color: #bf65df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 6px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.score__total-number {
  color: #026cdc;
}
.score-total-number-point {
  width: 5px;
  height: 5px;
  background: #026cdc;
  border-radius: 100%;
}
.score__total-correct {
  color: #55a55e;
}
.score-total-number-point__correct {
  background: #55a55e;
}
.score__total-wrong {
  color: #f75842;
}
.score-total-number-point__wrong {
  background: #f75842;
}
.score-completion-complete {
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  color: #494949;
}
.short-overview {
  border: 1px solid #f2eeee;
  -webkit-box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02),
    0px 12.16px 8.576px rgba(0, 0, 0, 0.013152),
    0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
  border-radius: 15px;
  padding: 21px 32px;
  margin-top: 28px;
}
.short-overview-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.short-overview-items-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 35px;
  color: #494949;
}
.short-overview-sec-dec {
  font-size: 16px;
  line-height: 23px;
  color: #8e8f8f;
}
.short-overview-sec-dec__number {
  color: #3629b7;
}
.score-doit-btn {
  background: #3629b7;
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
  padding: 12px 5px;
  text-align: center;
  width: 335px;
  cursor: pointer;
  margin: 28px auto;
}
/* Score end */

/* Footer start */
footer {
  background: #ffffff;
  border-radius: 0px 0px 12px 12px;
  -webkit-box-shadow: 0px -5px 20px 0px rgb(28 31 46 / 10%);
  box-shadow: 0px -5px 20px 0px rgb(28 31 46 / 10%);
}

.footer-logo {
  cursor: pointer;
  margin: 38px 0 7px 0;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-year {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8e8f8f;
  margin-bottom: 37px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 67px;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.footer-menu-item {
  cursor: pointer;
}
/* Footer end */
